<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_top3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{976,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{976,214}}</string>
                <key>sourceSize</key>
                <string>{976,214}</string>
            </dict>
            <key>bg_top3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1090},{976,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{976,194}}</string>
                <key>sourceSize</key>
                <string>{976,194}</string>
            </dict>
            <key>box_board_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,558},{340,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,368}}</string>
                <key>sourceSize</key>
                <string>{340,368}</string>
            </dict>
            <key>box_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,2},{662,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{662,107}}</string>
                <key>sourceSize</key>
                <string>{662,107}</string>
            </dict>
            <key>box_green_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,900},{362,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,107}}</string>
                <key>sourceSize</key>
                <string>{362,107}</string>
            </dict>
            <key>box_new_board_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,300},{371,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,256}}</string>
                <key>sourceSize</key>
                <string>{371,256}</string>
            </dict>
            <key>box_round_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1810},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>box_stage_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1359,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1359,296}}</string>
                <key>sourceSize</key>
                <string>{1359,296}</string>
            </dict>
            <key>box_title_stage_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1564},{305,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,386}}</string>
                <key>sourceSize</key>
                <string>{305,386}</string>
            </dict>
            <key>btn_blue_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1655},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>btn_blue_board_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1552},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>btn_blue_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1544},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>btn_blue_setting_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1397},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>btn_blue_statistics.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1286},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>btn_blue_statistics_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,1306},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>btn_next_page.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1286},{128,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,106}}</string>
                <key>sourceSize</key>
                <string>{128,106}</string>
            </dict>
            <key>btn_next_page_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{128,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,106}}</string>
                <key>sourceSize</key>
                <string>{128,106}</string>
            </dict>
            <key>btn_play_green_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{976,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{976,285}}</string>
                <key>sourceSize</key>
                <string>{976,285}</string>
            </dict>
            <key>btn_play_green_big_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{976,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{976,285}}</string>
                <key>sourceSize</key>
                <string>{976,285}</string>
            </dict>
            <key>btn_play_green_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1397},{300,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,153}}</string>
                <key>sourceSize</key>
                <string>{300,153}</string>
            </dict>
            <key>btn_play_green_small_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1397},{300,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,153}}</string>
                <key>sourceSize</key>
                <string>{300,153}</string>
            </dict>
            <key>gift_open_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,445},{237,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,159}}</string>
                <key>sourceSize</key>
                <string>{237,159}</string>
            </dict>
            <key>icon_daily.png</key>
            <dict>
                <key>frame</key>
                <string>{{1795,1057},{247,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,250}}</string>
                <key>sourceSize</key>
                <string>{247,250}</string>
            </dict>
            <key>icon_daily_exclamatory_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1286},{101,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,185}}</string>
                <key>sourceSize</key>
                <string>{101,185}</string>
            </dict>
            <key>icon_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,278},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>icon_return_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,111},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>icon_time_yellow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1952},{72,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,84}}</string>
                <key>sourceSize</key>
                <string>{72,84}</string>
            </dict>
            <key>img_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1952},{91,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,95}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>img_box_new_shine.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,619},{434,462}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,462}}</string>
                <key>sourceSize</key>
                <string>{434,462}</string>
            </dict>
            <key>img_frame_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,1009},{360,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,386}}</string>
                <key>sourceSize</key>
                <string>{360,386}</string>
            </dict>
            <key>img_frame_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,1055},{382,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,410}}</string>
                <key>sourceSize</key>
                <string>{382,410}</string>
            </dict>
            <key>img_frame_decorate.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,1055},{131,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,39}}</string>
                <key>sourceSize</key>
                <string>{131,39}</string>
            </dict>
            <key>img_gift_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,684},{194,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,218}}</string>
                <key>sourceSize</key>
                <string>{194,218}</string>
            </dict>
            <key>img_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,880},{175,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,195}}</string>
                <key>sourceSize</key>
                <string>{175,195}</string>
            </dict>
            <key>img_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,111},{506,514}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,514}}</string>
                <key>sourceSize</key>
                <string>{506,514}</string>
            </dict>
            <key>img_star_flat.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1810},{151,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,149}}</string>
                <key>sourceSize</key>
                <string>{151,149}</string>
            </dict>
            <key>img_star_flat_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,1397},{151,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,149}}</string>
                <key>sourceSize</key>
                <string>{151,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_level.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:755d17d35990e6842578a2352dd56e53:33a3e459a6bef962ff2675afdd81bf0f:dc4ee98e76b0ebff80dc069bdbc1b403$</string>
            <key>textureFileName</key>
            <string>main_level.png</string>
        </dict>
    </dict>
</plist>
